ol, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
}

:root {
  --bg-color: #13272c;
  --bg-navcolor: #13272cb5;
  --bg-allcontainer: #01445fcf;
  --fontcolor: #fec16a;
  --bg-selected-hour: #5c008096;
}


* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-image: url(../images/images-background.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 99%;
  min-height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: #fec16a;
  line-height: 1;
}

table {
  width: 100%;
}

table td {
  border-collapse: collapse;
  padding: 4px;
}

table tr:nth-child(odd) {
  background-color: var(--bg-allcontainer);
}

.footer {
  background: url(../images/banner2.png) center bottom no-repeat;
  height: 310px;
  position: relative;
  margin-top: 25px;
}

.color {
  background-color: var(--bg-selected-hour);
}