@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background: #f18e02;
  border: 1px solid rgba(0, 0, 0, 0.137);
}

::-webkit-scrollbar-track {
  background: #d1d8ee;
}

:root {
  --bg-color: #13272c;
  --bg-navcolor: #13272cb5;
  --bg-allcontainer: #01445fcf;
  --fontcolor: #fec16a;
}

ol, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* ================================GERAL========================================= */

.content {
  width: 630px;
  line-height: 1.3;
  background: url(images/block-bottom-bg.jpg) right bottom no-repeat;
  padding-bottom: 20px;
  margin: 0px 78px;
  /*ATIVAR */
}

@media (min-width: 1367px) {
  .content {
    width: 630px;
    line-height: 1.3;
    background: url(images/block-bottom-bg.jpg) right bottom no-repeat;
    padding-bottom: 20px;
    margin: 0px 154px;
    /*ATIVAR */
  }
}


@media (min-width: 1517px) {
  .content {
    width: 100%;
    line-height: 1.3;
    background: url(images/block-bottom-bg.jpg) right bottom no-repeat;
    padding-bottom: 20px;
    margin: 0px 163px;
    /* ATIVAR */
  }

  div.col-xs-6 {
    width: 50%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 60px;
  }
}

@media (min-width: 1707px) {
  .content {
    width: 100%;
    line-height: 1.3;
    background: url(images/block-bottom-bg.jpg) right bottom no-repeat;
    padding-bottom: 20px;
    margin: 0px 257px;
    /* ATIVAR */
  }

  div.col-xs-6 {
    width: 50%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 60px;
  }
}

@media (min-width: 1821px) {
  .content {
    width: 100%;
    line-height: 1.3;
    background: url(images/block-bottom-bg.jpg) right bottom no-repeat;
    padding-bottom: 20px;
    margin: 0px 190px;
    /* ATIVAR */
  }

  div.slide {
    max-width: 880px;
    height: 390px;
  }

  .slide-items>.active {
    position: relative;
    opacity: 1;
    pointer-events: initial;
    width: 880px;
  }

  div.col-xs-6 {
    width: 50%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 175px;
  }
}

@media (min-width: 2049px) {
  .content {
    width: 100%;
    line-height: 1.3;
    background: url(images/block-bottom-bg.jpg) right bottom no-repeat;
    padding-bottom: 20px;
    margin: 0px 190px;
    /* ATIVAR */
  }

  div.slide {
    max-width: 1107px;
    height: 492px;
  }

  .slide-items>.active {
    position: relative;
    opacity: 1;
    pointer-events: initial;
    width: 1107px;
  }

  div.col-xs-6 {
    width: 50%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 270px;
  }
}

@media (min-width: 2732px) {
  .content {
    width: 100%;
    line-height: 1.3;
    background: url(images/block-bottom-bg.jpg) right bottom no-repeat;
    padding-bottom: 20px;
    margin: 0px 190px;
    /* ATIVAR */
  }

  div.slide {
    max-width: 1790px;
    height: 800px;
  }

  div.slide-items>.active {
    position: relative;
    opacity: 1;
    pointer-events: initial;
    width: 1790px;
  }

  div.corpo-painel {
    font-size: 1.6em;
  }

  div.col-xs-6 {
    font-size: 1.6em;
    width: 50%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 500px;
  }
}

html body div.container_web main.content article section.content-wrapper div.panel.panel-news div.corpo-painel table.table tbody tr td ol li span b a.msgWhatsapp{
  color: red;
}

html body div.container_web main.content article section.content-wrapper div.panel.panel-news div.corpo-painel table.table tbody tr td ol li span b a.msgWhatsapp:hover{
  background-color: black;
  color: #fec16a;
  font-size: 16px;
  transition: 0.8s;
}

/* MEIO[POSTS] */

.content-wrapper {
  background-color: var(--bg-allcontainer);
  padding: 15px;
  border-radius: 6px;
  overflow-y: scroll;
  height: 465px;
}

.content-wrapper2 {
  background-color: var(--bg-allcontainer);
  padding: 15px;
  border-radius: 6px;
}

.panel-news {
  margin-bottom: 30px;
  color: var(--fontcolor);
  border: 0px;
  -moz-border-radius: 0px;
  border-radius: 6px;
  -moz-box-shadow: 0 0 10px #e3e3e3;
  -webkit-box-shadow: 0 0 10px #e3e3e3;
  box-shadow: 0 0 10px #fec16a;
  ;
}


/*.panel {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
  box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
}*/

.panel-news .cabecalho-painel {
  padding-top: 20px;
  padding-bottom: 20px;
}

.cabecalho-painel {
  display: flex;
  align-content: center;
  background-color: #013a50;
  padding: 10px 15px;
  border-bottom: 1px solid #777;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.panel-news .titulo-painel {
  display: flex;
  align-items: center;
  color: #fec16a;
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.titulo-painel {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  color: inherit;
}

.titulo-painel img {
  width: 90px;
}

.rankings_menu {
  width: 100%;
  overflow: auto;
  text-align: center;
  margin: 25px 0;
}

.rankings_menu a.active {
  background: #bd4601;
  border: 1px solid #fec16a;
}

.rankings_menu a {
  display: inline-block;
  background-color: #bd4601;
  border: 1px solid #fec16a;
  border-radius: 5px;
  text-shadow: -1px -1px 0 rgb(0 0 0 / 60%);
  margin: 5px 5px 5px 5px;
  padding: 6px 12px;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
}

h1, h2, h3 {
  color: #ebf0f4;
  margin-bottom: 20px;
  line-height: 1.2;
  text-transform: uppercase;
  font-weight: 600;
}

.logo {
  display: flex;
  align-items: center;
  width: 600px;
}

.corpo-painel {
  padding: 15px;
}

.corpo-painel #amarelo:hover {
  background-color: #fec16a;
  color: black;
  font-size: 1.1em;
  font-weight: bold;
  transition: 0.8s;
}


p {
  margin: 0 0 20px;
}

strong {
  font-weight: 700;
}

.corpo-painel a {
  color: #fec16a;
}

.corpo-painel a:hover {
  color: black;
}

.panel-news .rodape-painel {
  border-top: 1px solid #777;
  background: #013a50;
  font-style: italic;
  font-size: 11px;
  height: 40px;
  color: #fec16a;
}

.rodape-painel {
  padding: 10px 15px;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.col-xs-6 {
  width: 50%;
  float: left;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

/* ================================GERAL2========================================= */


body {
  background: #14171d url(../images/images-background.png);
  background-size: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  width: 100%;
  /* font-family: 'Open Sans', sans-serif; */
  /* font-family: 'Patrick Hand', cursive; */
  font-family: 'Akshar', sans-serif;
  /* font-family: 'Yanone Kaffeesatz', sans-serif; */
  /* font-family: 'Anonymous Pro', monospace; */
  font-weight: bold;
  font-size: 14px;
  color: #230707;
  line-height: 1;
  min-height: 100vh;
  position: absolute;
}

/* BARRA DE NAVEGAÇÃO CABEÇALHO */
body #navbar {
  display: flex;
  justify-content: center;
  width: 100%;
  top: 0px;
  height: 66px;
  position: absolute;
  background: var(--bg-navcolor);
  border-bottom: 1px solid #fec16a;
  z-index: 10;
}

#navbar #flexlist ul {
  display: none;
}

#navbar #flexlist li:hover>ul {
  display: block;
  background: #13272cb5;
  border-bottom: 1px solid #fec16a;
}

#flexlist {
  display: flex;
  align-self: center;
  margin: auto;
}

#flexlist li {
  margin: 0px 8px;
  list-style-type: none;
}

#flexlist a {
  color: var(--fontcolor);
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  margin: auto;
  padding: 0px 26px;
  display: block;
  height: 66px;
  line-height: 66px;
  position: relative;
}

#flexlist a:after {
  content: "";
  transition: 0.3s;
  height: 0px;
  width: 0px;
}

#flexlist a:hover:after {
  content: "";
  height: 2px;
  width: 100%;
  bottom: 0px;
  left: 0px;
  position: absolute;
  background: #000000;
}

/* CABEÇALHO LOGO */
header {
  display: flex;
  height: 300px;
  margin-top: -300px;
  position: relative;
  justify-content: center;
}

.header-shadow {
  background-image: url(../images/shadow.png);
  background-position: center bottom;
  background-repeat: repeat-x;
  height: 370px;
  animation: smoke 8s linear infinite;
  animation-fill-mode: none;
  animation-fill-mode: forwards;
}

@keyframes smoke {
  from {
    background-position: 0 bottom
  }

  to {
    background-position: 1920px bottom
  }
}

#brilho:hover {
  filter: brightness(120%);
  text-decoration: none;
}

body .container_web {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: center;
}

.container_web:before {
  content: "";
  position: absolute;
  background: url(images/container-icon.png) no-repeat;
  width: 103px;
  height: 105px;
  left: -25px;
  top: -25px;
}

.Buttons {
  position: fixed;
  z-index: 2;
  right: 0px;
  top: 56%;
  margin-top: -300px;
  background: rgba(20, 16, 11, 0.6) url(../images/bordasocial.png);
  background-size: 71px;
  background-repeat: no-repeat;
  padding: 0px 20px;
  border-radius: 28px 0px 0px 8px;
  z-index: 10;
  height: 224px;
}

.Buttons a {
  display: block;
  text-align: center;
  position: relative;
  margin: 20px 0px;
  opacity: 0.6;
  transition: all 200ms;
  -moz-transition: all 200ms;
  -webkit-transition: all 200ms;
  -o-transition: all 200ms;
}

.Buttons a:hover {
  color: #fff;
  opacity: 1;
  transition: all 200ms;
  -moz-transition: all 200ms;
  -webkit-transition: all 200ms;
  -o-transition: all 200ms;
}

.Buttons a:hover:after {
  opacity: 1;
}

.Buttons a p {
  margin-bottom: 0px;
  font-size: 15px;
}

.Buttons p {
  color: #eeba7c;
}

.Buttons a.fac:after {
  left: -1px;
  top: 2px;
}

.Buttons a:after {
  content: "";
  position: absolute;
  border: 0px solid #ffb432;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: 0.3s;
  opacity: 0;
}


/* buton2 */
.Buttons2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 2;
  left: 0px;
  top: 56%;
  margin-top: -300px;
  background: rgba(20, 16, 11, 0.6) url(../images/bordasocial.png);
  background-size: 71px;
  background-repeat: no-repeat;
  padding: 0px 20px;
  border-radius: 28px 0px 0px 8px;
  z-index: 10;
  height: 150px;
  transform: scaleX(-1);
}

.Buttons2 a {
  display: block;
  text-align: center;
  position: relative;
  margin: 20px 0px;
  opacity: 0.6;
  transition: all 200ms;
  -moz-transition: all 200ms;
  -webkit-transition: all 200ms;
  -o-transition: all 200ms;
}

.Buttons2 a:hover {
  color: #fff;
  opacity: 1;
  transition: all 200ms;
  -moz-transition: all 200ms;
  -webkit-transition: all 200ms;
  -o-transition: all 200ms;
}

.Buttons2 a:hover:after {
  opacity: 1;
}

.Buttons2 a p {
  margin-bottom: 0px;
  font-size: 15px;
}

.Buttons2 p {
  color: #eeba7c;
}

.Buttons2 a.fac:after {
  left: -1px;
  top: 2px;
}

.Buttons2 a:after {
  content: "";
  position: absolute;
  border: 0px solid #ffb432;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: 0.3s;
  opacity: 0;
}

/*=============================================FOOTER=============================================*/
footer {
  background-image: url(../images/bg-footer.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  color: #fec16a;
  border-top: 1px solid #fec16a;
  padding-block: 0.5rem;
  text-align: left;
}

footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer li {
  list-style-type: none;
  padding: 20px;
}

footer a {
  color: var(--fontcolor);
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

footer .wrapper {
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 'A B';
}

.wrapper {
  width: min(112rem, 63%);
  display: grid;
  margin-right: auto;
  margin-left: auto;
}

footer .col-a {
  align-self: center;
}

.col-a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer div.leftside img {
  width: 80px;
}

footer div.leftside p {
  margin: 0 0 20px;
  align-items: center;
  display: flex;
  gap: 10px;
}

footer div.leftside img:hover {
  filter: brightness(120%);
}

footer div.leftside span {
  display: flex;
}

footer .col-b {
  align-self: center;
  justify-self: flex-end;
}

.col-b {
  grid-area: B;
}

/* ===========================ASIDE LEFT===================================== */

.sidebar {
  width: 285px;
  display: block;
}

.bloco-download a {
  background: url(../images/download-button.jpg) center;
  height: 90px;
  font-size: 20px;
  text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.2);
  color: #fff;
  border: 1px solid #a880a0;
}

.flex-c-c {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-c-c:hover {
  filter: brightness(120%);
}

a, a:focus, a:hover, button, button:focus, button:hover, button:active {
  outline: 0 none;
  text-decoration: none;
}

a {
  transition: all 0.3s ease;
}


.bloco-download a span {
  padding-left: 50px;
}

.bloco-download a b {
  font-weight: 400;
  display: block;
  color: #d2d2e1;
  font-size: 12px;
  margin-top: 5px;
}

/*GERAL*/
.red-dark {
  background-color: var(--bg-allcontainer);
}

.widget {
  padding: 25px;
  min-height: 250px;
  /*ALTERAR TAMANHO DA SIDEBAR ESQUERDA*/
  border-bottom: 1px solid #fec152;
}

.widget-title {
  text-transform: uppercase;
  font-weight: 600;
  color: var(--fontcolor);
  font-size: 14px;
  margin-bottom: 15px;
  position: relative;
}

.widget-title span, .widget-title a {
  text-transform: none;
  font-size: 12px;
  color: #fec152;
  font-weight: 400;
}

.widget-title span {
  display: block;
  margin-top: 9px;
}

.widget-title:after {
  content: "";
  background: url(../images/player.png) center right no-repeat;
  width: 68px;
  height: 53px;
  position: absolute;
  right: -5px;
  top: -11px;
}

/*BOSSES*/

.red-dark {
  background-color: var(--bg-allcontainer);
}

.widgett {
  padding: 10px;
  min-height: 215px;
  /*ALTERAR TAMANHO DA SIDEBAR ESQUERDA*/
  height: 295px;
  border-bottom: 1px solid #fec152;
  border-radius: 0px 0px 8px 0px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.widget-titlee {
  text-transform: uppercase;
  font-weight: 600;
  color: var(--fontcolor);
  font-size: 14px;
  margin-bottom: 15px;
  position: relative;
}

.widget-titlee span, .widget-titlee a {
  text-transform: none;
  font-size: 12px;
  color: #fec152;
  font-weight: 400;
}

.widget-titlee span {
  display: block;
  margin-top: 9px;
}

.widget-titlee:after {
  content: "";
  background: url(../images/pvp.png) center right no-repeat;
  width: 68px;
  height: 53px;
  position: absolute;
  right: -5px;
  top: -11px;
}

.top-block {
  width: 100%;
  height: 260px;
  color: #fec152;
  /* overflow-y: scroll;
  overflow-x: hidden; */
}

.eventbody {
  overflow-y: scroll;
  overflow-x: hidden;
}

.event-schedule {
  padding: 20px 10px;
}

.top-list {
  width: 275px;
  height: 36px;
  display: flex;
  align-items: center;
  padding: 0px 10px;
  font-size: 12px;
  border-bottom: 1px solid #fec16a;
  transition: 0.3s;
}

.top-block span {
  display: block;
  font-size: 16px;
  padding-bottom: 1px;
}

.top-list a {
  color: var(--fontcolor);
}

.smalltext {
  font-size: 11px;
  color: #ffb86b;
}

/* ===========================ASIDE RIGHT===================================== */
.status-block {
  background-color: var(--bg-allcontainer);
  height: 40px;
}

.server-x {
  background: url(../images/status-icon.png) no-repeat;
  width: 84px;
  height: 67px;
  text-align: center;
  color: #fff;
  font-weight: 600;
  text-shadow: 0px 2px 1px rgb(0 0 0 / 50%);
  padding: 22px 0px 0px 5px;
}

.server {
  width: 160px;
  font-size: 12px;
}


.flex-s-c {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.server .server-name {
  color: var(--fontcolor);
  padding: 130px 0px 0px 35px;
}

.server .status-online, .server .status-offline {
  color: #fff;
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  background-color: transparent;
  border-spacing: 0;
  border-collapse: collapse;
}

table tr:nth-child(odd) {
  background-color: #aa738433;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  border-top: none !important;
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}

table td {
  border-collapse: collapse;
  padding: 4px;
  border: 1px solid #fec16a;
}

.banner-block {
  color: var(--fontcolor);
  margin-top: 20px;
}

a#ref:hover {
  font-size: 1.2em;
  font-weight: bold;
}

#whatsapp {
  width: 150px;
}

#whatsapp:hover {
  filter: brightness(200%);
}

.banner-FB {
  text-align: center;
  width: 250px;
  align-items: center;
  margin-left: 15px;
  margin-bottom: 15px;
}

/*BLESS CASTLE*/

.red-dark {
  background-color: var(--bg-allcontainer);
}

.widget2 {
  padding: 25px;
  min-height: 250px;
  /*ALTERAR TAMANHO DA SIDEBAR ESQUERDA*/
  border-bottom: 1px solid #fec152;
}

.widget-title2 {
  text-transform: uppercase;
  font-weight: 600;
  color: var(--fontcolor);
  font-size: 14px;
  margin-bottom: 15px;
  position: relative;
}

.widget-title2 span, .widget-title2 a {
  text-transform: none;
  font-size: 12px;
  color: #fec152;
  font-weight: 400;
}

.widget-title2 span {
  display: block;
  margin-top: 9px;
}

.widget-title2:after {
  content: "";
  background: url(../images/bc.png) center right no-repeat;
  width: 68px;
  height: 53px;
  position: absolute;
  right: -5px;
  top: -11px;
}

/*BELATRA*/

.red-dark {
  background-color: var(--bg-allcontainer);
}

.widget3 {
  padding: 10px;
  /*min-height: 250px;*/
  /*ALTERAR TAMANHO DA SIDEBAR ESQUERDA*/
  border-bottom: 1px solid #fec152;
  border-radius: 0px 0px 0px 8px;
}

.widget-title3 {
  text-transform: uppercase;
  font-weight: 600;
  color: var(--fontcolor);
  font-size: 14px;
  margin-bottom: 15px;
  position: relative;
}

.widget-title3 span, .widget-title3 a {
  text-transform: none;
  font-size: 12px;
  color: #fec152;
  font-weight: 400;
}

.widget-title3 span {
  display: block;
  margin-top: 9px;
}

.widget-title3:after {
  content: "";
  background: url(../images/sod.png) center right no-repeat;
  width: 68px;
  height: 53px;
  position: absolute;
  right: -5px;
  top: -11px;
}

/*RATES*/

.widget4 {
  padding: 10px;
  min-height: 254px;
  /*ALTERAR TAMANHO DA SIDEBAR ESQUERDA*/
  border-bottom: 1px solid #fec152;
}

.widget-title4 {
  text-transform: uppercase;
  font-weight: 600;
  color: var(--fontcolor);
  font-size: 14px;
  margin-bottom: 15px;
  position: relative;
}

.widget-title4 span, .widget-title4 a {
  text-transform: none;
  font-size: 12px;
  color: #fec152;
  font-weight: 400;
}

.widget-title4 span {
  display: block;
  margin-top: 9px;
}

.widget-title4:after {
  content: "";
  background: url(../images/widget-title-bg.png) center right no-repeat;
  width: 68px;
  height: 53px;
  position: absolute;
  right: -5px;
  top: -11px;
}