@media (max-width: 1024px) {

    body {
        background-size: cover;
        width: 1024px;
        /* teste */
    }

    div.wrapper-responsive {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    div.container_web {
        flex-direction: column;
    }

    aside.sidebar {
        display: block;
        width: 100%;
        margin: auto;
    }

    div.grid-container {
        display: grid;
        justify-content: center;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 'A B C';
    }

    aside.left-sidebar div.grid-container {
        width: 510px;
        margin: auto;
    }

    aside.left-sidebar div.grid-container div.grid-a, div.grid-b {
        width: 255px;
    }

    div.grid-a {
        grid-area: A;
    }

    aside.left-sidebar div.grid-container div.grid-a div.widget {
        border-radius: 0px;
        width: 100%;
        /* TESTE 96% */
        padding: 10px;
        /* TESTE */
        height: 421px;
    }

    div.widget {
        height: 100%;
        border-radius: 40px 0px 0px 40px;
    }

    div#top_guilds {
        display: flex;
        height: 56%;
        align-items: center;
        justify-content: space-around;
    }

    div.bloco-download {
        width: 100%;
        /* TESTE 96% */
    }

    div.grid-b {
        grid-area: B;
    }

    div.widgett {
        height: 100%;
        width: 100%;
    }

    div.grid-c {
        grid-area: C;
    }

    div.widget3 {
        height: 100%;
        border-radius: 0px 40px 40px 0px;
    }

    div#top_guilds0 {
        display: flex;
        height: 44%;
        align-items: center;
        justify-content: space-around;
    }



    main.content {
        display: block;
        margin: auto;
    }

    main.content div.slide {
        width: 510px;
        margin: auto;
    }

    main.content div.slide div.slide-items {
        width: 510px;
    }

    main.content div.slide div.slide-items img.active {
        width: 510px;
        height: 280px;
    }

    main.content article {
        width: 510px;
        margin: auto;
    }

    main.content article section.content-wrapper {
        width: 510px;
    }

    main.content article section.content-wrapper div.panel div.corpo-painel {
        padding: 0px;
    }

    main.content article section.content-wrapper div.panel div.rodape-painel div.col-xs-6 {
        width: 100%;
        font-size: 16px;
    }

    aside.right-sidebar div.grid-container {
        width: 510px;
        margin: auto;
    }

    aside.right-sidebar div.grid-container div.grid-b {
        width: 210px;
    }

    aside.right-sidebar div.grid-container div.grid-a, div.grid-c {
        width: 150px;
    }

    aside.right-sidebar div.grid-container div.grid-a div.widget {
        padding: 0px;
        padding-top: 25px;
    }

    footer {
        width: 100%;
    }

    footer ul {
        gap: 10px
    }

    footer ul li {
        padding: 0px;
        padding-bottom: 10px;
    }

    footer div.wrapper{
        width: 512px;
    }

    footer div.wrapper div.col-a{
        width: 100%;
    }

    footer div.wrapper div.col-b{
        width: 100%
    }
}