:root {
    --bg-color: #13272c;
    --bg-navcolor: #12262bb5;
    --bg-navcolor2: #12262bef;
    --bg-allcontainer: #01445fcf;
    --fontcolor: #fec16a;
}

.navbar .mobile {
    display: none;
}

.navbar button {
    display: none;
}

.menu-expanded {
    display: none;
}

@media (max-width: 1024px) {
    body {
        background-image: url(../images/images-background.png);
        background-size: cover;
        width: 100%;
    }

    .navbar .web {
        display: none;
    }

    .navbar button {
        display: block;
        background: none;
        border: none;
    }

    /* .menu-mobile-container {
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: center;
    } */

    .botao {
        position: absolute;
        top: 20px;
        right: 30px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 2px solid #fec16a;
        background: none;
        color: var(--fontcolor);
        font-weight: bold;
        text-transform: uppercase;
        cursor: pointer;
        box-shadow: 10px -5px 5px #0000009e;
    }

    .menu-expanded {
        display: block;
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #12262b;
        background-image: url(../images/bg-archer.jpg);
        background-size: cover;
        border: 1px solid #fec16a;
        font-size: 2rem;
        text-transform: uppercase;
        line-height: 50px;
        text-align: center;
        box-shadow: 18px 20px 12px #000000b3;
        z-index: 10;
        animation: menu 1s;
    }

    @keyframes menu{
        from{
            opacity: 0;
            transform: translate3d(0, -60px, 0);
        }

        to{
            opacity: 1;
            transform: translate3d(0, 0, 0);
        }
    }



    .menu-expanded ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        width: 100vw;
        height: 100vh;
        list-style: none;
        background-color: #12262bb5;
    }

    .menu-expanded a {
        color: #fec16a;
        text-decoration: none;
    }

    .desativado {
        display: none;
    }

    .container_web {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        width: 100%;
    }

    .download {
        display: flex;
        width: 630px;
    }

    .bloco-download {
        width: 315px;
    }

    .responsive {
        display: block;
    }

    .bloco-download a {
        background: url(../images/download-button.jpg) center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 90px;
        font-size: 20px;
        text-shadow: 1px 2px 1px rgb(0 0 0 / 20%);
        color: #fff;
        border: 1px solid #a880a0;
    }

    .bloco-download a span {
        padding-left: 50px;
    }

    .bloco-download a b {
        font-weight: 400;
        display: block;
        color: #d2d2e1;
        font-size: 12px;
        margin-top: 5px;
    }

    .sidebar {
        width: 630px;
        display: block;
        align-self: center;
    }

    .content {
        align-self: center;
        margin: 0px;
        padding: 0px;
    }

    .wrapper-responsive {
        display: flex;
    }

    .wrapper-responsive .widget {
        width: 315px;
        border-right: 1px solid #fec152;
    }

    .widgett {
        width: 315px;
        height: 364px;
        padding: 10px;
        overflow-y: scroll;
        overflow-x: hidden;
    }
}