body#LoginForm{ background: url(../img/bg.jpg) no-repeat center top -150px;}

.form-heading { color:#fff; font-size:23px; font-family: 'Cinzel', serif;}
.panel h2{ color:#444444; font-size:18px; margin:0 0 8px 0; font-family: 'Cinzel', serif;}
.panel p { color:#777777; font-size:14px; margin-bottom:30px; line-height:24px; font-family: 'Cinzel', serif;}
.login-form .form-control {
  background: #f7f7f7 none repeat scroll 0 0;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  font-size: 14px;
  height: 50px;
  line-height: 50px;
  font-family: 'Cinzel', serif;
  font-weight: bold;
  z-index:1;
}
.main-div {
  background: #ffffff none repeat scroll 0 0;
  border-radius: 2px;
  margin: 10px auto 30px;
  max-width: 50%;
  padding: 50px 70px 70px 71px;
  font-family: 'Cinzel', serif;
}

.main-div1 {
  background: #ffffff none repeat scroll 0 0;
  border-radius: 2px;
  margin: 10px auto 30px;
  max-width: ;
  padding: 50px 70px 70px 71px;
   font-family: 'Cinzel', serif;
}

.login-form .form-group {
  margin-bottom:10px;
   font-family: 'Cinzel', serif;
}
.login-form{ text-align:center; font-family: 'Cinzel', serif;}
.forgot a {
  color: #777777;
  font-size: 14px;
  text-decoration: underline;
   font-family: 'Cinzel', serif;
}
.login-form  .btn.btn-primary {
  background: #f0ad4e none repeat scroll 0 0;
  border-color: #f0ad4e;
  color: #ffffff;
  font-size: 14px;
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding: 0;
   font-family: 'Cinzel', serif;
}
.login-form  .btn.btn-primary:hover {
  background: #cdb45f none repeat scroll 0 0;
  border-color: #f0ad4e;
  color: #ffffff;
  font-size: 14px;
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding: 0;
  font-family: 'Cinzel', serif;
}



.forgot {
  text-align: left; margin-bottom:30px; font-family: 'Cinzel', serif;
}
.botto-text {
  color: #ffffff;
  font-size: 14px;
  margin: auto;
   font-family: 'Cinzel', serif;
}
.login-form .btn.btn-primary.reset {
  background: #ff9900 none repeat scroll 0 0;
   font-family: 'Cinzel', serif;
}
.back { text-align: left; margin-top:10px; font-family: 'Cinzel', serif;}
.back a {color: #444444; font-size: 13px;text-decoration: none; font-family: 'Cinzel', serif;}



.notice {
    padding: 15px;
    background-color: #fafafa;
    border-left: 6px solid #7f7f84;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
       -moz-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
            box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
	font-family: 'Cinzel', serif;
}
.notice-danger {
    border-color: #d73814;
	 font-family: 'Cinzel', serif;
}
.notice-danger>strong {
    color: #d73814;
	 font-family: 'Cinzel', serif;
}
.notice-info {
    border-color: #17a2b8;
	 font-family: 'Cinzel', serif;
}
.notice-info>strong {
    color: #17a2b8;
	 font-family: 'Cinzel', serif;
}

.notice-sucesso {
    border-color: #28a745;
	 font-family: 'Cinzel', serif;
}

.notice-sucesso>strong {
    color: #28a745;
	 font-family: 'Cinzel', serif;
}


.btn-painel{
	background:#f0ad4e;
	border-color: #f0ad4e;
}
.btn-painel:hover{
	background:#cdb45f;
	border-color: #f0ad4e;
	
}

.alert-shop{
	background:rgba(0,0,0,.7);
}
.alert-shop1{
	background:rgba(0,0,0,.7);
	color:white;
}