
.is-menu-bar {
    width: 100%;
    max-height: 50px;
    background: rgba(0,0,0,.6);
    border-bottom: 1px solid rgba(255,255,255,.2);
	
}

ol, ul {
	list-style: none; }
.center {
	margin:50px 0 0 190px;
	width:240px;
	
}
	
#bar {
	background-color: #2f2f2f;
	bottom: 0;
	border-top:2px solid #eeeeee;
	height: 50px;
	left: 0;
	position: fixed;
	width: 100%;
	z-index: 100000;
	display:block;
}

#innerbar {
	width:900px;
	margin:0 auto;
}

#innerbar h2 {
	color: #bdbdbd;
	font-size: 14px;
	font-weight: normal;
	padding: 13px 0 0;
	text-align:center;
	margin:0;
	padding-top:16px;
}

#innerbar a {
	color:#fff;
}

#wrapper{
	width:620px;
	margin:0 auto;
}

#nav {
	display: flex !important;
  justify-content: center !important;
  
}


ul#navigation {
    		
    display: inline-block;
	float: none !important;
	margin-top:-08px;
	z-index:99;
}

ul#navigation li {
	display:inline;
	font-size:12px;
	font-weight:bold;
	margin:10px;
	padding:0;
	float:left;
	position:relative;
}

ul#navigation li a {
	font-family: 'Alegreya SC', serif;
	font-size: 12px;
	padding:10px 15px;
	color:white;
	text-decoration:none;
	text-transform: uppercase;
	display:inline-block;
	-webkit-transition:color 0.2s linear, background 0.2s linear;	
	-moz-transition:color 0.2s linear, background 0.2s linear;	
	-o-transition:color 0.2s linear, background 0.2s linear;	
	transition:color 0.2s linear, background 0.2s linear;	
}
ul#navigationmodal li a {
	font-family: 'Alegreya SC', serif;
	font-size: 12px;
	padding:10px 15px;
	color:white;
	text-decoration:none;
	text-transform: uppercase;
	display:inline-block;
	-webkit-transition:color 0.2s linear, background 0.2s linear;	
	-moz-transition:color 0.2s linear, background 0.2s linear;	
	-o-transition:color 0.2s linear, background 0.2s linear;	
	transition:color 0.2s linear, background 0.2s linear;	
}


ul#navigation li a:hover {
	color:#e8bb14;
}
ul#navigationmodal li a:hover {
	color:#e8bb14;
}

ul#navigation li:hover > a {
	
}

/* Drop-Down Navigation */
ul#navigation li:hover > ul
{
	visibility:visible;
	opacity:1;
}
ul#navigationmodal li:hover > ul
{
	visibility:visible;
	opacity:1;
}

ul#navigation ul, ul#navigation ul li ul {
	font-size: 12px;
	list-style: none;
    margin-top: -9px;
    padding: 0;    
	visibility:hidden;
    position: absolute;
    z-index: 9000;
	width:180px;
	background: rgba(0,0,0,.8);
	border-bottom: 1px solid rgba(255,255,255,.2);
	opacity:0;
	-webkit-transition:opacity 0.2s linear, visibility 0.2s linear; 
	-moz-transition:opacity 0.2s linear, visibility 0.2s linear; 
	-o-transition:opacity 0.2s linear, visibility 0.2s linear; 
	transition:opacity 0.2s linear, visibility 0.2s linear; 	
}


ul#navigation ul {
    top: 57px;
    left: 1px;
}

ul#navigation ul li ul {
    top: 0;
    left: 170px;
}

ul#navigation ul li {
	clear:both;
	width:100%;
	border:0 none;
	
}

ul#navigation ul li a {
	background:none;
	padding:7px 15px;
	color:white;
	text-decoration:none;
	display:inline-block;
	border:0 none;
	float:left;
	clear:both;
	width:150px;
}

ul#navigation li a.first {
	border-left: 0 none;
}

ul#navigation li a.last {
	border-right: 0 none;
}


/* Dexter */

.lider_bc{
	width: 268px;
	height: 242px;
    /*padding-top: 250px;*/
    padding-left: 80px;
}
.lider_sod{
	width: 268px;
	height: 182px;
	padding-left: 90px;
}

.form-control {
    height: 30px;
    font-size: 12px;
    line-height: 18px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none;
    border: 1px solid #D5D5D5;
    background: #F9F9F9;
}



ul.ntab {
	width:1300px;
    height: 46px;
    margin: 0 8px;
    padding-bottom: 6px;
	list-style-type: none;
	display: flex !important;
	justify-content: center !important;
}

li.ntab {
    float:left;
}
.fw {
    padding-top:8px;
	width:684px;
}

.ntab .on {
    color: #a13d20;
    font-size: 18px;
    border-bottom: none;
    padding-bottom: 14px;
}

.ntab a {
    display: inline-block;
    height: 20px;
    padding: 0px 0 12px 0;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
    color: #696767;
    width: 130px;
    margin-top: 20px;
}
.ntab a:hover .title_rank1 a:hover {
	color:#e8bb14;
}
.ntab span {
    display: inline-block;
    width: 129px;
    text-align: center;
    border-right: 1px solid #cacaca;
}
.title_rank1 {

    font-family: 'Cinzel', serif;
    font-size: 20px;
    color: Black;

    line-height: 22px;
}
.ncont li {
    border-bottom: 1px dashed #aba196;
    line-height: 30px;
}
.ncont li p {
    max-width: 500px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    float: left;
}
