aside{
    height: 101vh;
}

.titulo-main{
    display: flex;
    justify-content: center;
}

.item-area {    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    height: 63vh;
    margin: auto;
    overflow-y: scroll;
}

.item-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: #067272;
    color:#fec16a;    
    margin-bottom: 2em;
    width: 422px;
    height: 275px;
}

.area-preta {
    background: black;
    width: 126px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.info-area {
    width: 295px;
    height: 275px;
    padding: 1em;
    font-size: 16px;
}

.info-area>p {
    font-size: 16px;
}

.info-main {
    padding: 1em 0;
}

.item-level {
    font-weight: 700;
    font-size: 18px;
}