:root {
    --bg-aside: #067272;
    --width: 500px;
    font-size: 62.5%;
}

body div.wrapper-responsive{
    display: flex;
    width: 100%;
}

body main div.titulo-main button.button-mobile {
    display: none;
}

@media (max-width: 1024px) {


    body div.wrapper-responsive {
        max-width: var(--width);
        display: block;
        margin: auto;
    }

    body {
        width: 1024px;
        height: 100%;
        background-image: url(../images/images-background.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    aside {
        justify-content: center;
        position: absolute;
        opacity: 0;
        transform: translateX(-250px);
    }

    aside.animar {
        animation-name: expanded;
        animation-duration: .3s;
        animation-timing-function: ease;
        animation-delay: 0s;
        animation-direction: normal;
        animation-fill-mode: forwards;
    }

    @keyframes expanded {
        to {
            transform: translateX(0);
            opacity: 1;
        }
    }

    body main {
        height: 100vh;
        justify-content: flex-start;
        background: none;
    }

    body main div.titulo-main {
        padding: 0px;
    }

    body main div.titulo-main h1 {
        font-size: 2.5rem;
    }


    body main div.titulo-main button.button-mobile {
        display: block;
        margin: auto;
        background: none;
        border: none;
        width: 50px;
    }

    body main div.titulo-main button.button-mobile svg path {
        stroke: #fec16a;
    }

    body main article {
        font-size: 2rem;
    }
}